*{padding:0;margin:0;}

#nazad{
	padding:5px;
	background:silver;
	cursor:pointer;
}
#nazad:hover{
	background:gray;
	color:black;
}
#nazad_link{
	color:black;
	font-weight:bold;
	font-size:17px;
}

#wrap{
	width:95%;
	margin:0 auto;
}
#var_edit{
	min-width:50%;
	max-width:47%;
	float:left;
	padding:1%;
}
#dog_edit{
	min-width:50%;
	max-width:50%;
	float:left;
	padding:1%;
}

@media screen and (max-width: 600px) {
	#cond_edit{
		min-width:100%;
		padding:1%;
	}
	#doc_edit{
		min-width:100%;
		padding:1%;
	}
}
@media screen and (min-width: 601px) {
	#cond_edit{
		max-width:29%;
		float:left;
		padding:1%;
	}
	#doc_edit{
		max-width:70%;
		float:left;
		padding:1%;
	}
}

@media screen and (max-width: 800px) {
	#var_edit_admin{
		min-width:100%;
		padding:1%;
	}
	#dog_edit_admin{
		min-width:100%;
		padding:1%;
	}
}
@media screen and (min-width: 801px) {
	#var_edit_admin{
		max-width:30%;
		float:left;
		padding:1%;
	}
	#dog_edit_admin{
		max-width:70%;
		float:left;
		padding:1%;
	}
}

textarea{
	width:100% !important;
}


#redactor{
	width:100%;
	height:70%;
}
label{
	cursor:pointer;
	font-weight:normal !important;
	margin-bottom:-10px !important;
}
.anscheck{
	margin-left:30px !important;
}
useredit{
	cursor:pointer;
}
